
.main-all-navs{
    position: relative;
}


.main-navbar{
    width: 100%;
    background-color: #2a403d;
}

.logo{
    width: 20%;
}
.main-links{
    width: 45%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-links a{
    font-weight: 500;
    word-wrap: inherit;
    padding: 2px 0px;
}
.last-links{
    width: 20%;
    color: lightslategray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.last-icons{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.last-icons a{
    font-size: 20px;
    font-weight: bold;
}
.main-links a:hover{
    border-bottom: 1.5px solid rgb(3, 66, 105);
}
.main-dialog{
    width: 100%;
    height: 80vh;
    top: 80px;
    background-color: rgb(50, 49, 49);
    animation-name: logo-spin;
    animation-duration: 1s;
}
/* create a animation from top to low with opacity */
.dialog{
    width: 100%;
    height: 100%;
}
.left-dialog{
    align-items: center;
    height: 100%;
    gap: 20px;
}
.left-dialog a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
    border-bottom: 2px solid grey;
    color: rgb(155, 140, 140);
    width: 80%;
}
.left-dialog a h4{
    color: white;
}
.left-dialog a:hover{
    border-bottom: 2px solid white;
    background-color: gray;
    color: white;
}
.last-grid{
    color: rgb(155, 140, 140);
}
.last-grid a:hover{
    color: white;
    text-decoration: underline;
}
.burger-nav{
    display: none;
}

@media (max-width: 767px){
    .main-links{
        display: none;
    }
    .last-links{
        display: none;
    }
    .logo{
        width: 40%;
    }
    .last-icons{
        display: none;
    }
    .burger-nav{
        display: flex;
        color: white;
    }
    .burger-nav h1{
        font-size: 30px;
    }
}